In [31]:
# importing required libraries
import pandas as pd
import numpy as nm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt  
from sklearn import preprocessing
import lightgbm as lgb
from lightgbm import LGBMRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, ExtraTreesRegressor, GradientBoostingRegressor

In [32]:
# loading the dataset
data_set=pd.read_csv("p2.csv")
data_set

,REGION NAME,DISTRICT NAME,ULB NAME,ZONE NAME,USAGE AS PER NOMENCLATURE,CLASSIFICATION AS PER NOMENCLATURE,Unit Rate in Rs
0,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,COUNTRY TILED,14.0
1,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,HUTS,9.0
2,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,MANGALORE TILED / ASBESTOS ROOFED / GI SHEET R...,25.0
3,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,MEDRAS TERRACE / JACK ARCH ROOFED / STONE SLAB...,30.0
4,GUNTUR,GUNTUR,BAPATLA,ZONE1,BANKS,RCC ORDINARY CELLAR,36.8
...,...,...,...,...,...,...,...
33413,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,MEDRAS TERRACE,19.0
33414,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,RCC ORDINARY,33.0
33415,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,RCC POSH,39.0
33416,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,SLATES ROOFED,19.0
33417,GUNTUR,PRAKASAM,ONGOLE,ZONE9,SHOPS,STONE SLAB,19.0

In [33]:
y= data_set.iloc[:,6].values 
data_set.drop(["Unit Rate in Rs"],axis=1,inplace=True) 
# encoding each attribute with a number 
le = preprocessing.LabelEncoder()
data_set["REGION NAME"]=le.fit_transform(data_set["REGION NAME"])
data_set["DISTRICT NAME"]=le.fit_transform(data_set["DISTRICT NAME"])
data_set["ULB NAME"]=le.fit_transform(data_set["ULB NAME"])
data_set["ZONE NAME"]=le.fit_transform(data_set["ZONE NAME"])
data_set["USAGE AS PER NOMENCLATURE"]=le.fit_transform(data_set["USAGE AS PER NOMENCLATURE"])
data_set["CLASSIFICATION AS PER NOMENCLATURE"]=le.fit_transform(data_set["CLASSIFICATION AS PER NOMENCLATURE"])
x= data_set.iloc[:,:].values

x

array([[ 0,  0,  2, 14,  5,  1],
       [ 0,  0,  2, 14,  5,  5],
       [ 0,  0,  2, 14,  5, 13],
       ...,
       [ 0,  2, 18, 51, 64, 29],
       [ 0,  2, 18, 51, 64, 35],
       [ 0,  2, 18, 51, 64, 36]])

In [35]:
# finding correlation between the features.
print(pd.DataFrame(x).corr(method='pearson'))

    0         1         2         3         4         5
0 NaN       NaN       NaN       NaN       NaN       NaN
1 NaN  1.000000 -0.152325  0.327349 -0.063670  0.079140
2 NaN -0.152325  1.000000  0.242625 -0.030555  0.048710
3 NaN  0.327349  0.242625  1.000000 -0.072608  0.107676
4 NaN -0.063670 -0.030555 -0.072608  1.000000 -0.042236
5 NaN  0.079140  0.048710  0.107676 -0.042236  1.000000

In [36]:
# splitting the dataset
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.4, random_state=0) 
# training with decision tree
tree=DecisionTreeRegressor(max_depth=15)
tree.fit(x_train,y_train) 
y_pred = tree.predict(x_test)
print("ACCURACY OF THE MODEL: ", tree.score(x_test, y_test))

ACCURACY OF THE MODEL:  0.8562958368255507

In [37]:
# training with random forest
forest = RandomForestRegressor(n_estimators=10)
forest.fit(x_train,y_train)
forest.score(x_test,y_test)

0.9284883018396126

In [42]:
# training with lightgbm
light=LGBMRegressor(boosting_type='dart', num_leaves=310,n_estimators=1000,max_depth=10, learning_rate=0.3)
light.fit(x_train, y_train)
light.score(x_test,y_test)

0.9662264763614403

In [6]:
y_pred=forest.predict(x_test)
nm.savetxt('land rates prediction.csv',y_pred, delimiter=',')